
/*
selector(html tag, class or id){
	declaration (property: value;)
}

tag selector: tagName
class selector: .className
id selector: #idName

*/
/* --------------------------------------------------------------------- */
/* css reset stuff */

body{ /*selector 'body' contains all visible html*/
	margin: 0; /*amount of space wanted around the body */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* --------------------------------------------------------------------- */
/* Main styles */


/* Header styles */
header{
	background: #222222; /*bg colour*/
	color: #ffffff; /*text colour*/
	padding: 20px 30px; /*top & bottom: 20px,  right & left: 30px*/
}


/* 'Logo' inside header */
header #page-header{ /* page-header h2 inside header tag*/
	color: #ffffff;
	text-decoration: none;
	width: 49%; /* puts on one half of the page (left aligned by default)*/
	display: inline-block; /* Allows element to sit on the same line when the browser window is expanded */
	
}

/* img inside header*/
header img {
	width: 50px;
	border-radius: 50px; /* circles the image border*/
	margin-right: 8px; /* pushes the right margin 8px*/
	vertical-align: middle; /* puts image into the middle of its allowed height*/
}

/* targeting header h2 tag (not really needed as it's id of 'page-header' is already targeted above)*/
header h2{
	font-size: 16px;
}

/* Main navigation */


header #main-navigation{
	width: 49%;
	display: inline-block;  /* keeps element on the same level as h2*/
	text-align: right; /* align text to the right of page */
}

header #main-navigation ul{
	list-style: none;
	padding: 0;
}

header #main-navigation ul li{
	display: inline-block;
}

header #main-navigation ul li a{
	color: #ffffff;
	text-decoration: none;
	padding: 10px 15px; /*top & bottom: 10px,  right & left: 15px*/
}

header #main-navigation ul li a:hover{
	color: #444444;
	border-radius: 3px;
	transition: 0.3s ease all;
}

/* --------------------------------------------------------------------- */
/* Footer */

footer{
	background: #222222; /*bg colour*/
	color: #777777; /*text colour*/
	padding: 40px;
	text-align: center; /*pushes text to center*/
}

footer img{
	display: block; /*prevents image from sharing space with the wording*/
	border-radius: 5px; /*gives slightly rounded edges*/
	width: 80px;
	margin: 0 auto 10px; /*0 for top, auto for left and right (centering it), and 10px for bottom.*/
}

/* --------------------------------------------------------------------- */
/* Hero */

.hero{  /* . is for class */
	min-height: 800ps;
	text-align: center;
	background: #555555; /* background colour */
	background-image: url('../img/background.jpg'); 
}

.hero-content{
	color: #ffffff;
	padding-top: 130px;
	line-height: 1;
}


.hero-title{
	margin: 0;
	font-size: 100px;
}

.hero-content p{
	font-size: 50px;
	margin-bottom: 60px;
}

/*
.hero-content a{
	color: #ffffff;
	border: 3px solid white;
	border-radius: 3px;
	padding: 15px 30px;
	margin-right: 20px;
	text-decoration: none;
	font-size: 28px;
}
*/





/*
<br />Profile icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" 	title="Flaticon">www.flaticon.com</a>. Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
<br />Code icon made by <a href="https://www.iconfinder.com/justui">Just UI</a>
<br />JavaScript icon made by <a href="https://www.iconfinder.com/Sennerstad">Sennerstad</a>
<br />YouTube icon made by <a href="https://www.iconfinder.com/neilorangepeel">neilorangepeel</a>
background: https://pixabay.com/photos/coding-programming-working-macbook-924920/
*/



